* {
    color: #000 ;
    background-color: #fff ;
}

button#switcher-button {

    text-align:center;
}

body {
    font-family: Profont, monospace, Courier, monospace;
    margin: 0;
    padding: 1em;

}

#main-statement {
    text-align:left;
}

ul {
    list-style-type: none;
}

.blurred {
    font-size: 70%;
}

div > ul {
    padding-bottom: 10px;
}

div.noscriptmsg {
    font-family: Courier;
    border: 1px solid red;
}

div.center {
    text-align: center;
}

@media screen and (max-width:700px) {

    div.javascriptonly button    {
        width:100%;
    }
}

div#validator-intro-text {
    float: left;
    margin-top: 10px;
    margin-right: 1em;
}
